In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pt
import seaborn as sns

In [2]:
visadf=pd.read_csv('C:/Users/Anuja_PC/OneDrive/Documents/dataFiles/Visadataset.csv')
visadf

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [3]:
visadf.head(2)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified

In [4]:
visadf.select_dtypes(exclude='object').columns   # select the numerical columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

**prevailing_wage**

**--- len,max,min,mean,median,std,75%,50%,25%---**

In [5]:
len(visadf['prevailing_wage'])

25480

In [6]:
min(visadf['prevailing_wage'])

2.1367

In [8]:
max(visadf['prevailing_wage'])

319210.27

In [9]:
visadf['prevailing_wage'].max()   # pandas

319210.27

In [10]:
np.max(visadf['prevailing_wage'])   # numpy

319210.27

In [11]:
visadf['prevailing_wage'].min()

2.1367

In [12]:
np.min(visadf['prevailing_wage'])

2.1367

**Mean**

In [15]:
visadf['prevailing_wage'].mean()

74455.81459209183

In [16]:
np.mean(visadf['prevailing_wage'])

74455.81459209183

**Median**

In [13]:
np.median(visadf['prevailing_wage'])

70308.20999999999

In [14]:
visadf['prevailing_wage'].median()

70308.20999999999

**standarad deviation**

In [15]:
visadf['prevailing_wage'].std()

52815.94232687357

In [16]:
np.std(visadf['prevailing_wage'])

52814.90589711402

In [7]:
wage_count = round(len(visadf['prevailing_wage']),2)
wage_min=round(min(visadf['prevailing_wage']),2)
wage_max=round(max(visadf['prevailing_wage']),2)
wage_mean=round(visadf['prevailing_wage'].mean(),2)
wage_median=round(visadf['prevailing_wage'].median(),2)
wage_std=round(visadf['prevailing_wage'].std(),2) 

wage_count,wage_min,wage_max,wage_mean,wage_median,wage_std


wage_25p_data=np.quantile(visadf['prevailing_wage'],0.25)
wage_25p=round((wage_25p_data),2)

wage_50p=round(np.quantile(visadf['prevailing_wage'],0.50),)

wage_75p=round(np.quantile(visadf['prevailing_wage'],0.75),2)

In [19]:
wageListValues = []
wageListValues = [wage_count,wage_min,wage_max,wage_mean,wage_median,wage_std,wage_25p,wage_50p,wage_75p]
index_val = ['count','min','max','mean','median','std','25%','50%','75%']
wageDf = pd.DataFrame(wageListValues)
wageDf

           0
0   25480.00
1       2.14
2  319210.27
3   74455.81
4   70308.21
5   52815.94
6   34015.48
7   70308.00
8  107735.51

In [20]:
wageDf = pd.DataFrame(wageListValues,columns=['prevailing_wage'],index=index_val)
wageDf

        prevailing_wage
count          25480.00
min                2.14
max           319210.27
mean           74455.81
median         70308.21
std            52815.94
25%            34015.48
50%            70308.00
75%           107735.51

**Percentil;e and Quartile**

In [42]:
# np.percentile -takes 2 arguments 
# 1. data(a)
#2. percentile(q)
#Values varies from 0 to 100
# if u want 50p data q=50


# np.quantile -takes 2 arguments 
# 1. data(a)
#2. percentile(q)
#Values varies from 0 to 1                       # important interview questions
# if u want 50p data q=0.5

**20P, 50P,75P**

In [52]:
wage_25p_data=np.percentile(visadf['prevailing_wage'],25)
wage_25p=round((wage_25p_data),2)
wage_25p

34015.48

In [53]:
wage_50p=round(np.percentile(visadf['prevailing_wage'],50),2)
wage_50p

70308.21

In [54]:
wage_75p=round(np.percentile(visadf['prevailing_wage'],75),2)
wage_75p

107735.51

In [56]:
print(f"The 25% data is {wage_25p}")
print(f"The 50% data is {wage_50p}")
print(f"The 75% data is {wage_75p}")

The 25% data is 34015.48
The 50% data is 70308.21
The 75% data is 107735.51

In [64]:

wage_25p_data=np.quantile(visadf['prevailing_wage'],0.25)
wage_25p=round((wage_25p_data),2)

wage_50p=round(np.quantile(visadf['prevailing_wage'],0.50),)

wage_75p=round(np.quantile(visadf['prevailing_wage'],0.75),2)

In [65]:
print(f"The 25% data is {wage_25p}")
print(f"The 50% data is {wage_50p}")
print(f"The 75% data is {wage_75p}")

The 25% data is 34015.48
The 50% data is 70308
The 75% data is 107735.51

In [ ]:
- there are 25% of employees has salary less than wage_25p
total employees = 25480

25% employees means = s5*25480/100=6370

6370 employees has less than wage_25p

In [67]:
condition = visadf['prevailing_wage']<34015
condition

0         True
1        False
2        False
3        False
4        False
         ...
25475    False
25476    False
25477    False
25478    False
25479    False
Name: prevailing_wage, Length: 25480, dtype: bool

In [68]:
len(visadf[condition])

6370

In [ ]:
- there are 50% of employees has salary less than 70308
total employees = 25480

50% employees means = 50*25480/100=12740

12740 employees has less than 70308 salary

In [69]:
condition = visadf['prevailing_wage']<70308
condition

0         True
1        False
2        False
3        False
4        False
         ...
25475    False
25476    False
25477    False
25478    False
25479    False
Name: prevailing_wage, Length: 25480, dtype: bool

In [70]:
len(visadf[condition])

12740

In [ ]:
- there are 75 of employees has salary less than wage_75p
total employees = 25480

75% employees means = 75*25480/100=19110

19110 employees has less than wage_75p salary

In [71]:
condition = visadf['prevailing_wage']<wage_75p
condition

0         True
1         True
2        False
3         True
4        False
         ...
25475     True
25476    False
25477    False
25478     True
25479     True
Name: prevailing_wage, Length: 25480, dtype: bool

In [72]:
len(visadf[condition])

19110

$Emperical Rule[68-95-99]$

In [ ]:
- First calculate mean value 

- Second calculate std value

- con1 - mean-1*std

- con2 - mean+1*std

- If you apply above condition on wage data , the output count should be equal to 68 percentile date

- 68% of employees

In [73]:
68*25480/100

17326.4

In [21]:
v1 = wage_mean-1 * wage_std
v1

21639.869999999995

In [22]:
v2=wage_mean+1 * wage_std
v2

127271.75

In [23]:
(v1,v2)

(21639.869999999995, 127271.75)

In [24]:
cond1=visadf['prevailing_wage']>v1

cond2=visadf['prevailing_wage']<v2

In [86]:
cond1

0        False
1         True
2         True
3         True
4         True
         ...
25475     True
25476     True
25477     True
25478     True
25479     True
Name: prevailing_wage, Length: 25480, dtype: bool

In [87]:
cond2

0         True
1        False
2        False
3        False
4        False
         ...
25475    False
25476    False
25477    False
25478    False
25479    False
Name: prevailing_wage, Length: 25480, dtype: bool

In [25]:
visadf[cond1 & cond2]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.65,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.86,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.03,Year,Y,Denied
5,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.14,Year,Y,Certified
6,EZYV07,Asia,Bachelor's,N,N,4985,1994,South,53635.39,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25473,EZYV25474,Asia,Bachelor's,Y,N,2421,2007,Northeast,22845.56,Year,Y,Certified
25474,EZYV25475,Africa,Doctorate,N,N,2594,1979,Northeast,51104.78,Year,Y,Certified
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.57,Year,Y,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.77,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.91,Year,Y,Certified

In [26]:
count1=len(visadf[cond1 & cond2])

In [27]:
count1, 68*25480/100

(17171, 17326.4)

**95%**

In [28]:
v1 = wage_mean-2 * wage_std
v2 = wage_mean+2 * wage_std

cond1=visadf['prevailing_wage']>v1

cond2=visadf['prevailing_wage']<v2

visadf[cond1 & cond2]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25474,EZYV25475,Africa,Doctorate,N,N,2594,1979,Northeast,51104.7800,Year,Y,Certified
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [29]:
count1=len(visadf[cond1 & cond2])

In [30]:
count1,95*25480/100

(24582, 24206.0)

**99.7**

In [31]:
v1 = wage_mean-3 * wage_std
v2 = wage_mean+3 * wage_std

cond1=visadf['prevailing_wage']>v1

cond2=visadf['prevailing_wage']<v2

visadf[cond1 & cond2]

count1=len(visadf[cond1 & cond2])
count1,99.7*25480/100

(25186, 25403.56)

$Number - of - employees$

In [36]:
empdf=visadf['no_of_employees']
empdf

0        14513
1         2412
2        44444
3           98
4         1082
         ...
25475     2601
25476     3274
25477     1121
25478     1918
25479     3195
Name: no_of_employees, Length: 25480, dtype: int64

In [37]:
#--- len,max,min,mean,median,std,75%,50%,25%---

emp_count= len(empdf)
emp_count

25480

In [38]:
emp_min = min(empdf)
emp_min

-26

In [39]:
emp_max = max(empdf)
emp_max

602069

In [40]:
emp_mean = empdf.mean()
emp_mean

5667.043210361067

In [41]:
emp_median = empdf.median()
emp_median

2109.0

In [43]:
emp_std = empdf.std()
emp_std

22877.928847734398

In [45]:
emp_count= len(empdf)
emp_min = min(empdf)
emp_max = max(empdf)
emp_mean = empdf.mean()
emp_median = empdf.median()
emp_std = empdf.std()

emp_count,emp_min,emp_max,emp_mean,emp_median,emp_std


wage_25p_data=np.quantile(visadf['prevailing_wage'],0.25)
wage_25p=round((wage_25p_data),2)

wage_50p=round(np.quantile(visadf['prevailing_wage'],0.50),)

wage_75p=round(np.quantile(visadf['prevailing_wage'],0.75),2)

In [46]:
emp_list_values = [emp_count,emp_min,emp_max,emp_mean,emp_median,emp_std,wage_25p,wage_50p,wage_75p]
emp_list_values

[25480,
 -26,
 602069,
 5667.043210361067,
 2109.0,
 22877.928847734398,
 34015.48,
 70308,
 107735.51]

In [47]:
index_val = ['count','min','max','mean','median','std','25%','50%','75%']

empDataframe = pd.DataFrame(emp_list_values,columns=['no_of_employees'],index=index_val)
empDataframe

        no_of_employees
count      25480.000000
min          -26.000000
max       602069.000000
mean        5667.043210
median      2109.000000
std        22877.928848
25%        34015.480000
50%        70308.000000
75%       107735.510000

In [134]:
wage_25p=round(np.percentile(visadf['no_of_employees'],25),2)
wage_50p=round(np.percentile(visadf['no_of_employees'],50),2)
wage_75p=round(np.percentile(visadf['no_of_employees'],75),2)

In [135]:
wage_25p,wage_50p,wage_75p

(1022.0, 2109.0, 3504.0)

In [136]:
wage_25p=round(np.quantile(visadf['no_of_employees'],0.25),2)
wage_50p=round(np.quantile(visadf['no_of_employees'],0.50),2)
wage_75p=round(np.quantile(visadf['no_of_employees'],0.75),2)

In [137]:
wage_25p,wage_50p,wage_75p

(1022.0, 2109.0, 3504.0)

$Emperical - Rule$

In [140]:
v1=emp_mean-1*emp_std
v2=emp_mean+1*emp_std
round(v1,2),round(v2,2)

(-17210.89, 28544.97)

In [142]:
cond1=visadf['no_of_employees']>v1
cond2=visadf['no_of_employees']<v2

visadf[cond1 & cond2]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
5,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.1400,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [143]:
len(visadf[cond1 & cond2])

24674

In [144]:
count1=len(visadf[cond1 & cond2])
count1,68*25480/100

(24674, 17326.4)

In [63]:
columns = visadf.select_dtypes(exclude='object').columns
len(columns),columns

(3,
 Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object'))

In [78]:
#columns = visadf.select_dtypes(exclude='object').columns
columns = ['no_of_employees', 'yr_of_estab', 'prevailing_wage']
l1=[]
for i in columns:
     countt = round(len(visadf[i]),2)
     minn = round(visadf[i].min(),2)
     maxx = round(visadf[i].max(),2)
     meann = round(visadf[i].mean(),2)
     mediann = round(visadf[i].median(),2)
     stdd = round(visadf[i].std(),2)
     p_25=np.quantile(visadf[i],0.25)
     p_50=np.quantile(visadf[i],0.50)
     p_75=np.quantile(visadf[i],0.75)

     

l1.append([countt, minn, maxx, meann,mediann,stdd,p_25,p_50,p_75])
index_val = ['count','min','max','mean','median','std','25%','50%','75%']

visadataframe = pd.DataFrame(l1,columns=index_val,index=columns).T
visadataframe

        no_of_employees  yr_of_estab  prevailing_wage
count        25480.0000   25480.0000       25480.0000
min              2.1400       2.1400           2.1400
max         319210.2700  319210.2700      319210.2700
mean         74455.8100   74455.8100       74455.8100
median       70308.2100   70308.2100       70308.2100
std          52815.9400   52815.9400       52815.9400
25%          34015.4800   34015.4800       34015.4800
50%          70308.2100   70308.2100       70308.2100
75%         107735.5125  107735.5125      107735.5125

In [79]:
visadf.describe()  #only for numerical

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000